// Define variables for your color scheme

// Used
$dark-blue: #243059;
$green: #20E8B6;
$dark-green: #1ACEA1;
$light-green: #8ef4db;
$black: #132b49;
$light-black: rgba(30,30,51,0.8);
$grey: #000000;
$red: #FF696A;

// Unused:
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$light-gray: #F4F4F4;
