.about {
  background-color: white;
  .landing-section-content, .landing-section-media {
    height: 450px;
  }
  #landing-team-media {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      max-width: 90%;
      max-height: 70%;
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -o-animation-duration: 2s;
      -ms-animation-duration: 2s;
    }
  }
}
