// Main containers for flats index
.main-container {
  display: flex;
}
#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  background-color: white;
}
.cards-container {
  padding: 10px;
}

// Flat cards
.flat-cards {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  a {
    color: $light-black;
  }
  .flat-card {
    min-height: 120px;
    margin-top: 10px;
    border-bottom: solid 1px $light-gray;
    border-top: none;
    cursor: pointer;
    transition: all ease 0.4s;
    .flat-card-description {
      line-height: 14px;
      height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .flat-card-image {
      // width: 200px;
      height: 100px;
      overflow: hidden;
      img {
        opacity: 0.9;
        transition: all ease 0.3s;
        height: 100px;
        margin: -10px 0 0 0;
      }
    }
    &:hover {
      border-bottom: solid 1px $green;
      img {
        opacity: 1;
      }
    }
  }
}
.flat-cards-headers {
  min-height: 40px;
  background-color: $green;
  color: white;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  font-weight: bold;
  font-size: 16px;
}





.weekly-deals {
  align-items: center;
}

.details {
  align-items: center;
}

.weekly-deals h1 {
  font-size: 22px;
  font-weight: bold;
  color: #EB5757;
  padding: 30px;
}

.details h1 {
  font-size: 22px;
  font-weight: bold;
  color: #EB5757;
  text-decoration: underline;
  text-decoration-color: #20E8B6;
  padding: 30px;

}

.card {
  justify-content: space-around;
  border-radius: 4px;
  background-color: white;
  box-shadow: 4px 4px 10px #F2F2F2;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 30px;

}

.card-add {
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: 4px 4px 10px #F2F2F2;
  margin-top: 40px;
  margin-bottom: 80px;
  text-decoration: none;
  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }
  .card-add-description {
    line-height: 14px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.box-col-3 {
  height: 160px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 4px 4px 10px #F2F2F2;
  margin: 10px;
}

.box-col-6-3 h1 {
  font-weight: bold;
  font-size: 14px;
  color: #EB5757;
  text-decoration: underline;
  padding: 2px;
  text-decoration-color: #EB5757;
  margin-top: 0px;
}

.box-col-6-3 h2 {
  font-size: 14px;
  padding: 2px;
}

.box-col-6 h1 {
  font-weight: bold;
  font-size: 20px;
  color: #EB5757;
  text-decoration: underline;
  padding: 2px;
  text-decoration-color: #EB5757;
  margin-top: 0px;
}

.box-col-6 h2 {
  font-size: 15px;
  padding: 2px;

}

.box-col-6-3 {
  height: 160px;
  border-radius: 4px;
  background-color: white;
  margin-top: 10px;
}

.box-col-6 {
  height: 268px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 4px 4px 10px #F2F2F2;
  margin: 10px;
  margin-top: 30px;
}

.img-box {
  padding: 4px;
  height: 100%;
  width: 100%;
}

.fa-heart-o {
  color: #20E8B6;
}

.fa-heart {
  color: #20E8B6;
}

.fa-star {
  color: #FD9659;
}

.bolder {
  font-weight: bold;
}

.days-alert {
  color: #EB5757;
  font-weight: bold;
}

.separate {
  margin-bottom: 10px;
  border: 2px solid #20E8B6;
  border-radius: 4px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
}

//css pour les inputs

:focus{outline: none;}

.col-3 {
  float: left;
  margin: 40px 3%;
  position: relative;
  }


.col-3-xs {
  margin: 0px;
}

::placeholder {
  color: #EB5757;
  font-family:'Pathway Gothic One', sans-serif;
}

input[type="text"] {
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 22px;
  font-weight: bold;
  color: #f98484;
  box-sizing:
  border-box;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 2px solid #20E8B6;
  background-color: #F9FCFF;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #20E8B6;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

// version mobile

.photo-add {
  width: 337px;
  height: 225px;
  position: relative;
  margin-bottom: 20px;
}

.round {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  bottom: -20px;
  right: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-info-add {
  position: relative;
  height: 145px;
  padding: 20px 20px 20px 23px;
  background: $red;
  border-radius: 0 4px 4px 0;
}

.box-info-add h1 {
  font-weight: bold;
  font-size: 20px;
  color: #EB5757;
  text-decoration: underline;
  padding: 2px;
  text-decoration-color: #EB5757;
  margin-top: 0px;
}

.box-info-add h2 {
  font-size: 14px;
  padding: 2px;
}

.details-in-info-add h2 {
  position: static;
  margin-bottom: 10px;
  margin-top: 0px;
}

.criteria-numbers {
  display: flex;
  justify-content: start;
  align-items: center;
}

.mini-box-number {
  background-color: white;
  margin-right: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
}

.box-col-6-3-mob {
  height: 160px;
  border-radius: 4px;
  background-color: white;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
// END MOBILE VERSION
