// Flat show style
.flat-title {
  h1 {
    font-weight: bold;
    font-size: 32px;
  }
  i {
    color: $green;
  }
}
.flat-image img {
  max-width: 100%;
  max-height: 200px;
  margin: 30px;
}
.flat-card {
  min-height: 200px;
  margin: 30px 0px;
  padding: 10px;
  background-color: white;
  border-top: solid 2px $green;
}
