// Main containers for flats index

body {
    background-color: #132b49;
  }
.main-container {
  display: flex;
}
#map {
  flex: 0 0 450px;
  padding: 30px;
  height: 100vh;
  width: 100%;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  background-color: white;
}
.cards-container {
  padding: 10px;
}

// Flat cards
.flat-cards {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  a {
    color: $light-black;
  }
  .flat-card {
    min-height: 120px;
    margin-top: 10px;
    border-bottom: solid 1px $light-gray;
    box-shadow: none;
    border-top: none;
    cursor: pointer;
    transition: all ease 0.4s;
    p {
      font-size: 15px;
      margin: 0px 0px 10px 0px;
    }
    .flat-card-description {
      line-height: 14px;
      height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .flat-card-image {
      // width: 200px;
      height: 100px;
      overflow: hidden;
      img {
        opacity: 0.9;
        transition: all ease 0.3s;
        height: 100px;
        margin: -10px 0 0 0;
      }
    }
    i {
      color: $green;
      font-size: 22px;
      font-weight: 400;
    }
    .flat-card-days-alert {
      color: $red;
    }
    .flat-card-negative-return {
      color: $red;
    }
    .flat-card-positive-return {
      color: $dark-green;
    }
    &:hover {
      border-bottom: solid 1px $green;
      img {
        opacity: 1;
      }
    }
  }
}
.flat-cards-headers {
  min-height: 40px;

  color: white;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
}

// Mobile responsiveness of flat cards
#map-mobile {
  width: 100%;
  height: 50vh;
  background-color: white;
  margin-bottom: 30px;
}
.cards-container-mobile {
  padding: 10px;
  width: 100%;
}
.flat-card-mobile {
  height: 120px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-top: solid 1px $green;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 20px;
  padding: 10px 5px;
  i {
    color: $green;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
  p {
    font-size: 12px;
  }
  a {
    color: $light-black;
  }
}
.flat-card-image-mobile {
  img {
    max-width: 100%;
  }
}
.flat-card-wishlist-mobile {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekly-deals {
  align-items: center;
  background-color: #EB5757;
  border-radius: 4px;
}


.details {
  align-items: center;
}

.weekly-deals h1 {
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 30px;
  text-transform: uppercase;
}

.details h1 {
  font-size: 22px;
  font-weight: bold;
  color: #EB5757;
  text-decoration: underline;
  text-decoration-color: #20E8B6;
  padding: 30px;

}

// Pagination style
.pagination {
  margin: 10px 0px 20px 0px;
  a {
    color: $black;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.4s ease;
    &:hover {
      color: $green;
    }
  }
  .pagination-number {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
  }
  .pagination-active {
    color: white;
    background-color: $green;
    font-weight: 700;
  }
}

.filter {
  border-color: $green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.card-add {
  height: 100%;
  width: 252px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 12px;
  position: relative;
  border-radius: 4px;
  padding: 0px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);

}

.box-photo-add {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 185px;
}

.box-photo-add img {
  vertical-align: middle;
  width: 100%;
  height: 185px;
  padding: 2px;
  border-radius: 4px;
}

.box-details-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
  border-radius: 4px;
}

.box-details-add p {
  font-size: 15px;
  margin: 10px;
  color: #132b49;
}



.box-details-add-red {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px $red;
  margin-top: 12px;
  border-radius: 4px;
}

.box-details-add-red p {
  font-size: 16px;
  margin: 10px;
  color: #132b49;
}

.box-container {
  height: 100%;
  width: 252px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.box-image img {
  vertical-align: middle;
  width: 100%;
  height: 185px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.placehilder {
  justify-content: space-around;
  align-items: center;
}

.btn-champs button {
  width: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  background: #1ACEA1;
  border-color: #1ACEA1;
}

#text_en_avant {
  font-size: 18px;
  margin: 10px;
  color: #132b49;
}
