// Main container for flats index
.main-container {
  display: flex;
}
.cards-container {
  padding-left: 10px;
  margin-right: -20px;
  @media (max-width: 732px) {
    padding-left: 0px;
  }
}

// Map
#map {
  flex: 0 0 450px;
  padding: 30px;
  height: 100vh;
  width: 100%;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  background-color: white;
  border-radius: 4px;
}

// Flat cards
.flat-cards {
  a {
    color: $light-black;
  }
  .flat-card {
    background-color: white;
    min-height: 320px;
    margin-bottom: 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.4s;
    &:hover {
      background-color: white;
      img {
        opacity: 1;
      }
    }
    p {
      font-size: 15px;
      margin: 0px 0px 10px 0px;
    }
    .flat-card-image {
      height: 200px;
      overflow: hidden;
      padding: 0px;
      img {
        width: 100%;
        opacity: 0.9;
        transition: all ease 0.3s;
        height: 200px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
    }
    i {
      position: absolute;
      top: 10px;
      right: 20px;
      background-color: white;
      padding: 6px 5px 5px 5px;
      border-radius: 50%;
      color: $green;
      font-size: 25px;
      font-weight: 400;
    }
    .flat-card-description {
      padding: 10px;
      height: 50px;
      p {
        padding: 0px;
      }
    }
    .flat-card-description-address {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;
    }
    .flat-card-days-alert {
      color: $red;
    }
    @media (max-width: 732px) {
      min-height: 300px;
      .flat-card-image {
        height: 180px;
      }
      i {
        top: 10px;
        right: 18px;
        color: $green;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  @media (max-width: 732px) {
    padding-left: 0px;
    padding-right: 20px;
  }
}
.flat-negative {
  color: $red;
}
.flat-positive {
  color: $dark-green;
}
.flat-cards-headers {
  min-height: 40px;

  color: white;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
}
.no-flat-card {
  color: white;
}

// Pagination style
.pagination {
  margin: 10px 0px 20px 0px;
  color: white;
  a {
    color: white;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.4s ease;
    &:hover {
      color: $green;
    }
  }
  .pagination-number {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
  }
  .pagination-active {
    color: white;
    background-color: $green;
    font-weight: 700;
  }
}

// Flats filters
.flats-filters {
  display: flex;
  margin: 40px 0px;
  justify-content: space-between;
  @media (max-width: 732px) {
    justify-content: space-around;
    margin: 20px 0px;
    button {
      margin-bottom: 20px;
    }
  }
  .sortbar {
    display: inline-flex;
    p {
      color: white;
      padding: 0 20px;
      line-height: 40px;
      font-size: 14px;
      font-weight: bold;
    }
    a.sortbar-i {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      font-size: 14px;
      font-weight: bold;
      background-color: white;
      color: $black;
      border-right: solid 1px $black;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.4s ease;
      &:nth-child(2) {
        border-radius: 8px 0px 0px 8px;
      }
      &:nth-child(5) {
        border-radius: 0px 8px 8px 0px;
      }
      &:hover {
        color: $green;
      }
    }
    a.sortbar-i-active {
      background-color: $green;
      color: white;
      transition: all 0.4s ease;
      &:hover {
        background-color: $dark-green;
        color: white;
      }
    }
    @media (max-width: 732px) {
      a.sortbar-i {
        font-size: 12px;
        padding: 0 10px;
        &:nth-child(1) {
          border-radius: 8px 0px 0px 8px;
        }
        &:nth-child(4) {
          border-radius: 0px 8px 8px 0px;
        }
        &:nth-child(2), :nth-child(5) {
          border-radius: 0px;
        }
      }
    }
  }
}

// Filter modal
.filter {
  border-color: $green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

#filterModal {
  font-size: 15px;
  .modal-header {
    height: 50px;
    .close {
      margin: 0;
      position: absolute;
      top: 15px;
      right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border: solid 1px $black;
      color: $black;
      opacity: 1;
      font-size: 18px;
      transition: all ease 0.3s;
      &:hover {
        border: solid 1px $green;
        color: $green;
      }
    }
  }
  .modal-content {
    border-radius: 6px;
  }
  .form-inputs {
    input {
      border-radius: 6px;
      color: #555555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      padding: 5px 10px;
      margin-bottom: 20px;
      &:focus {
        transition: all 0.4s ease;
        box-shadow: none;
        border-color: $green;
        color: $black;
      }
    }
    span {
      position: absolute;
      right: 70px;
      top: 5px;
    }
    .room-filter {
      transition: all 0.4s ease;
      input {
        display: none;
      }
      .room-filter-label {
        position: inherit;
        padding: 5px 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 400;
      }
      .active {
        background-color: $green;
        color: white;
        border: 1px solid $green;
      }
    }
  }
}

#filterModalLabel {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
