.banner {
  min-height: calc(100vh - 160px);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .banner-section {
    padding: 50px;
    h1 {
      font-weight: bold;
      font-size: 52px;
    }
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 14px;
    }
    .row {
      margin-top: 30px;
    }
  }
}

// General stylesheet applied to landing section
.landing-section {
  h1 {
    font-weight: bold;
    font-size: 42px;
  }
  p {
    font-size: 20px;
    text-align: justify;
  }
  strong, a {
    color: $green;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.landing-section-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landing-section-media {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// Specific stylesheet applied to landing section
.landing-real-estate {
  min-height: 450px;
  background-color: #FBFBFB;
  .landing-section-content, .landing-section-media {
    height: 450px;
  }
  #landing-real-estate-media {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    padding: 50px;
    display: flex;
    justify-content: center;
    img {
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -o-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
    }
  }
}

.landing-studio {
  min-height: 450px;
  background-color: white;
  .landing-section-content, .landing-section-media {
    height: 450px;
  }
  #landing-studio-media {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    padding: 50px;
    display: flex;
    justify-content: center;
    img {
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -o-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
    }
  }
}

.landing-products {
  min-height: 450px;
  background-color: #FBFBFB;
  .landing-section-content, .landing-section-media {
    height: 450px;
  }
  #landing-products-media {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      max-width: 90%;
      max-height: 70%;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -o-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
    }
  }
}

.landing-team {
  min-height: 450px;
  background-color: white;
  .landing-section-content, .landing-section-media {
    height: 450px;
  }
  #landing-team-media {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      max-width: 90%;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -o-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
    }
  }
}
