<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="weekly-deals text-center">
        <h1>Deals de la semaine :</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="details text-center">
        <h1>Quelles villes ?</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="details text-center">
        <h1>Quels types de biens ?</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-3">
            <div class="box-col-3">
              <%= image_tag "landing-team-content", {class: "img-box"} %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-col-6-3">
              <h1>Descriptif</h1>
              <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque voluptas possimus numquam unde nobis, delectus est, sint commodi reiciendis, quo enim laudantium perspiciatis provident quaerat perferendis, dolores laboriosam quisquam repellendus!
              </h2>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box-col-3 text-center">
              <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
              <i class="fa fa-star fa-2x" aria-hidden="true"></i>
              <i class="fa fa-star fa-2x" aria-hidden="true"></i>
              <i class="fa fa-star fa-2x" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-col-6">
              <h1 class="text-center ">Données du bien</h1>
              <div class="row">
                <div class="col-md-6 ">
                  <span class="bolder">* Adresse :</span>
                </div>
                <div class="col-md-6 ">
                  75007 PARIS
                  <!-- il faut intergrer le code erb pour recuperer l'adresse -->
                </div>
                <div class="col-md-6 ">
                  <span class="bolder">* Surface :</span>
                </div>
                <div class="col-md-6 ">
                  230 m2
                  <!-- il faut intergrer le code erb pour recuperer la surface -->
                </div>
                <div class="col-md-6 ">
                  <span class="bolder">* Surface terrain :</span>
                </div>
                <div class="col-md-6 ">
                  1200 m2
                  <!-- il faut intergrer le code erb pour recuperer la surface du terrain -->
                </div>
                <div class="col-md-6 ">
                  <span class="bolder">* Prix F.A.I :</span>
                </div>
                <div class="col-md-6 ">
                  230 000 €
                  <!-- il faut intergrer le code erb pour recuperer la surface du terrain -->
                </div>
                <div class="col-md-6 ">
                  <span class="bolder">* Prix m2 :</span>
                </div>
                <div class="col-md-6 ">
                  1200 €
                  <!-- il faut calculer le prix au m2 et donner un code couleur si le prix au m2 est en dessous de la la moyenne -->
                </div>
                <div class="col-md-6 ">
                  <span class="bolder">* Date de mise en ligne :</span>
                </div>
                <div class="col-md-6 ">
                  345 j
                  <!-- il faut intergrer le code erb pour recuperer le nombre de jour et definir une regle if > 90 jours cela depasse la moyenne nationale -->
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-col-6">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-3">
            <div class="box-col-3">

            </div>
          </div>
          <div class="col-md-6">
            <div class="box-col-6">

            </div>
          </div>
          <div class="col-md-3">
            <div class="box-col-3">

            </div>
          </div>
          <div class="col-md-6">
            <div class="box-col-6">

            </div>
          </div>
          <div class="col-md-6">
            <div class="box-col-6">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



