<section class="banner-propos">
  <div class="banner-section text-center">
    <h1>La big data à votre service </h1>
    <h3> <strong>Game changer</strong> H. et son équipe de data scientist vous apporte leurs connaissances </H3>
  </div>
</section>

<section class="landing-section landing-team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-team-media" style="background-image: url(<%= image_url "landing-team.png" %>)">
          <%= image_tag "landing-team-content.png", class: 'hidden' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          Un robot <strong>intelligent</strong> pas seulement
        </h1>
        <p>H. a été inventé par une équipe qui a déjà rencontré de nombreux succès. </p>
      </div>
    </div>
  </div>
</section>
