<% content_for(:title_tag) do %>
  Prosper - A propos
<% end %>

<section class="section about">
  <div class="container">
    <div class="row">
      <div class="banner-section text-center hidden-xs">
        <h1>La big data à votre service </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-push-sm-6 landing-section-content">
        <h1>
          Un robot <strong>intelligent</strong> pas seulement
        </h1>
        <p>PROSPER a été inventé par une équipe experimentée qui souhaite apporter un nouveau souffle dans le monde des marchands de biens. </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-pull-sm-6 landing-section-media">
        <div id="landing-team-media" style="background-image: url(<%= image_url "landing-team.png" %>)">
          <%= image_tag "landing-team-content.png" %>
        </div>
      </div>
    </div>
  </div>
</section>
