<section class="banner">
  <div class="banner-section text-center">
    <h1>
      Reshaping real estate
    </h1>
    <p>We are building great products to rethink real estate.</p>
  </div>
</section>
