<section class="banner">
  <div class="banner-section text-center">
    <h1>
      Reshaping real estate
    </h1>
    <p>We are building great products to rethink real estate.</p>
  </div>
</section>

<section class="landing-section landing-real-estate">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <div>
          <h1>
            <strong>Reinventing</strong> real estate
          </h1>
          <p>We are building great products to rethink real estate.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <%= image_tag "https://usedraft.co/img/inbox@1x.png" %>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-studio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-media">

      </div>
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          Reshaping real estate
        </h1>
        <p>We are building great products to rethink real estate.</p>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-products">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          Reshaping real estate
        </h1>
        <p>We are building great products to rethink real estate.</p>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <%= image_tag "https://usedraft.co/img/roadmap@1x.png" %>
        <!-- <div class="abstract"></div> -->
      </div>
    </div>
  </div></section>

<section class="landing-section landing-team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-media">

      </div>
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          Reshaping real estate
        </h1>
        <p>We are building great products to rethink real estate.</p>
      </div>
    </div>
  </div></section>
