body {
  background-color: #F9FCFF;
}

.weekly-deals {
  align-items: center;
}

.details {
  align-items: center;
}

.weekly-deals h1 {
  font-size: 22px;
  font-weight: bold;
  color: #EB5757;
  padding: 30px;
}

.details h1 {
  font-size: 22px;
  font-weight: bold;
  color: #EB5757;
  text-decoration: underline;
  text-decoration-color: #20E8B6;
  padding: 30px;

}

.card {
  justify-content: space-around;
  border-radius: 4px;
  background-color: white;
  box-shadow: 4px 4px 10px #F2F2F2;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 30px;

}

.card-add {
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: 4px 4px 10px #F2F2F2;
  margin-top: 40px;
  margin-bottom: 80px;
}

.box-col-3 {
  height: 160px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 4px 4px 10px #F2F2F2;
  margin: 10px;
}

.box-col-6-3 h1 {
  font-weight: bold;
  font-size: 14px;
  color: #EB5757;
  text-decoration: underline;
  padding: 2px;
  text-decoration-color: #EB5757;
  margin-top: 0px;

}

.box-col-6 h2 {
  font-size: 15px;
  padding: 2px;

}

.box-col-6 h1 {
  font-weight: bold;
  font-size: 20px;
  color: #EB5757;
  text-decoration: underline;
  padding: 2px;
  text-decoration-color: #EB5757;
  margin-top: 0px;
}

.box-col-6-3 h2 {
  font-size: 14px;
  padding: 2px;

}

.box-col-6-3 {
  height: 160px;
  border-radius: 4px;
  background-color: white;
  margin-top: 10px;
}


.box-col-6 {
  height: 268px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 4px 4px 10px #F2F2F2;
  margin: 10px;
  margin-top: 30px;
}

.img-box {
  padding: 4px;
  height: 100%;
  width: 100%;
}

.fa-heart-o {
  color: #20E8B6;
}

.fa-heart {
  color: #20E8B6;
}

.fa-star {
  color: #FD9659;
}

.bolder {
  font-weight: bold;
}

.days-alert {
  color: #EB5757;
  font-weight: bold;
}

.separate {
  margin-bottom: 10px;
  border: 2px solid #20E8B6;
  border-radius: 4px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
}

//css pour les inputs

:focus{outline: none;}

.col-3 {
  float: left;
  margin: 40px 3%;
  position: relative;
  }

::placeholder {
  color: #EB5757;
  font-family:'Pathway Gothic One', sans-serif;
}

input[type="text"] {
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 22px;
  font-weight: bold;
  color: #f98484;
  box-sizing:
  border-box;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 2px solid #20E8B6;
  background-color: #F9FCFF;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #20E8B6;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

