/* Cursor */

.typed-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  font-weight: bold;
  color: white;
  font-size: 60px;
  width: 1140px;
  margin-left: 15px;
  margin-right: 15px;
}

.typed-cursor {
  color: white;
}

/* If fade out option is set */
.typed-fade-out {

}
